# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\myrootfiles\FINKI\4. Semestar\Vestacka Inteligencija\Labs, Tests, Domasni\Testovi\2. Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
